.change_password_page {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.current_password {
  width: 25%;
}
.new_password {
  width: 25%;
}
.re-enter_password {
  width: 25%;
}
.password-control {
  width: 65%;
  float: right;
  height: 25px;
  text-indent: 5px;
  border-radius: 5px;
  border: solid 1.5px #d3d3d3;
  transition: 0.2s;
}
.password-control:focus {
  box-shadow: 0 0 1px 2px #3498db;
  transition: 0.2s;
  outline-width: 0px;
}
