.change_profile_page {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  color: #716e6e;
}
.section3 {
  display: flex;
  margin-bottom: 30px;
}
