.edit_profile_page {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #716e6e;
}
.section2 {
  display: flex;
}
.profile_container2 {
  width: 25%;
}
._img {
  display: flex;
  flex-direction: column;
}

._image3 {
  border: 1px solid #454679;
  width: 40%;
}
.import_photo {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 25%;
}
.upload {
  border-radius: 5px;
  padding: 5px;
  width: 25px;
  height: 25px;
  background-color: rgb(89, 89, 183);
  color: black;
  cursor: pointer;
}
.delete {
  border-radius: 5px;
  padding: 3px;
  width: 25px;
  height: 25px;
  background-color: red;
  color: black;
  cursor: pointer;
}
.profile_details2 {
  align-items: center;
  margin-top: 10px;
}
.details2 {
  display: flex;
  margin-bottom: 10px;
}
.about {
  width: 25%;
  color: #716e6e;
  height: 75px;
}
.textarea-control {
  width: 65%;
  float: right;
  height: 75 px;
  text-indent: 5px;
  border-radius: 5px;
  border: solid 1.5px #d3d3d3;
  transition: 1s;
}
.textarea-control:focus {
  box-shadow: 0 0 2px 2px #3498db;
  transition: 0.3s;
  outline-width: 0px;
}

.form-control {
  width: 65%;
  float: right;
  height: 25px;
  text-indent: 5px;
  border-radius: 5px;
  border: solid 1.5px #d3d3d3;
  transition: 1s;
}

.form-control:focus {
  box-shadow: 0 0 2px 2px #3498db;
  transition: 0.3s;
  outline-width: 0px;
}

.end_button {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.save_changes {
  width: 13%;
  height: 30px;
  background-color: #007bff; /* Blue color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.save_changes:hover {
  background-color: #0070e6; /* Darker blue color on hover */
  transition: 0.3s;
}
