body {
  background-color: #f6f9ff;
}

main {
  padding: 20px 30px;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  height: 630px;
  padding-bottom: 50px;
}
.profile_header {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 5px;
}
.overview {
  border-radius: 2px;
  width: 30%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.edit_profile {
  border-radius: 2px;
  width: 30%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
.change_password2 {
  border-radius: 2px;
  width: 50%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.profile_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100%;
  width: 360px;
  background-color: white;
  box-shadow: 1px 1px 4px #454679;
  padding: 15px;
}
.profile_name {
  font-size: 22px;
}

._image2 {
  margin-bottom: 15px;
  border: 1px solid #454679;
  box-shadow: 1px 1px 4px #454679;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}
.logo_img {
  margin-top: 5px;
  padding: 5px 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.profile_card_overview {
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #454679;
  width: 70%;
  background-color: white;
}
.active {
  background-color: #007bff; /* Set your desired active background color */
  color: white; /* Set your desired active text color */
}
.active:hover {
  background-color: #0070e6;
  transition: 0.3s;
}
.linkedin {
  cursor: pointer;
  font-size: 20px;
}

.instagram {
  cursor: pointer;
  font-size: 20px;
}
.facebook {
  cursor: pointer;
  font-size: 20px;
}
.twitter {
  cursor: pointer;
  font-size: 20px;
}
