.overview_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about_overview {
  margin-top: 15px;
}
.paragraph {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #716e6e;
}
.profile_details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}
.details {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}
.full_name {
  width: 25%;
  color: #716e6e;
}

.company {
  width: 25%;
  color: #716e6e;
}
.job {
  width: 25%;
  color: #716e6e;
}
.country {
  width: 25%;
  color: #716e6e;
}
.adress {
  width: 25%;
  color: #716e6e;
}
.phone {
  width: 25%;
  color: #716e6e;
}
.email {
  width: 25%;
  color: #716e6e;
}
