.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 10px;
  width: 240px;
  height: 75%;
  border: 1px solid #ddd;
  border-radius: 20px 20px;
  box-shadow: 1px 1px 5px #444579;
  background-color: white;
}

.profile_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45%;
}
._image {
  margin-bottom: 15px;
  border: 1px solid #454679;
  box-shadow: 1px 1px 4px #454679;
  width: 50%;
  border-radius: 50%;
}

.profile_name {
  color: black;
  margin-bottom: 4px;
}
.profile_text {
  color: #9f9f9f;
  font-size: 12px;
}

.profile_container {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 50%;
}
.profile_link {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 17%;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}
.profile_link:hover {
  background-color: rgb(238, 238, 238);
  transition: 0.3s;
}
.my_profile {
  margin-left: 20px;
}
.settings {
  margin-left: 20px;
}
.log_btn {
  background-color: red;
}
.logout_button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 2px;
  border: none;
  cursor: pointer;
  border-radius: 0 0 20px 20px;
  border-top: 1px solid rgb(238, 238, 238);
  background-color: white;
}

.logout_button:hover {
  background-color: rgb(243, 243, 243);
  transition: 0.5s;
}
.log {
  margin-left: 5px;
}
@keyframes animatezoom1 {
  from {
    transform: scaleY(0); /* Start the animation with no height (collapsed) */
    transform-origin: top; /* Set the transform origin to the top */
  }
  to {
    transform: scaleY(1); /* End the animation with full height (expanded) */
    transform-origin: top; /* Maintain the transform origin at the top */
  }
}
.animate_profile {
  -webkit-animation: animatezoom1 0.6s;
  animation: animatezoom1 0.3s;
}
