.dashboard_company {
  height: 100%;
}
.company-table {
  width: 100%;
  margin-top: 20px;
}

.company-table th,
.company-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.requests {
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 500px;
}
.requests::-webkit-scrollbar {
  height: 12px;
}
.companylist {
  font-size: 22px;
  padding: 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}
.companylist:hover {
  background-color: rgb(236, 236, 236);
}
