.task_page_container {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 100%;
}
.task_page_container_header {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.task_title {
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 5px solid rgb(35, 174, 35);
}
._dot {
  border-radius: 50%;
  padding: 4px;
  font-size: 30px;
}
._dot:hover {
  background-color: #cdcbcb;
  transition: 0.3s;
}

.alt_container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.left_container {
  width: 59%;
}
.right_container {
  width: 40%;
  padding: 0px 40px;
  border-left: 1px solid gray;
}

.activity_container {
  width: 50%;
}

.comment_container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  padding-left: 15px;
  gap: 10px;
}
.comments_title {
  border-bottom: 1px solid black;
}

.comment_input {
  width: 92%;
  padding: 11px;
  border: 1px double rgb(211, 211, 211);
  border-radius: 4px;
  transition: 0.1s;
  resize: none;
}
.comment_input:focus {
  box-shadow: 0 0 2px 2px #3498db;
  transition: 0.1s;
  outline-width: 0px;
}
.button_container {
  display: flex;
  justify-content: end;
}

.comment_button {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: white;
  width: 10%;
  text-align: center;
  padding: 7px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
}
.comment_button:hover {
  color: white;
  background-color: #0070e6;
  transition: 0.3s;
}

.logo {
  background-color: rgb(177, 53, 53);
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}
.logo2 {
  background-color: rgb(42, 165, 89);
  padding: 5px;
  border-radius: 50%;
}
.logo3 {
  background-color: rgb(204, 204, 0);
  padding: 5px;
  border-radius: 50%;
}
.photo_input_container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show_comment {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}
.show_comment_right {
  background-color: #f3f3f3;
  margin-left: 3px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgb(239, 239, 239);
  box-shadow: rgba(151, 151, 151, 0.24) 0px 3px 8px;
}
.show {
  font-size: 12px;
}
.author_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.send_time {
  display: flex;
  align-items: end;
}
.time {
  font-size: 12px;
  margin-left: 15px;
  color: #666666;
}
.clickable_icon {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.like_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.like_img {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  font-size: 19px;
}
.like_img:hover {
  background-color: rgb(206, 206, 206);
  transition: 0.3s;
}
.replay_img {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  font-size: 19px;
}
.replay_img:hover {
  background-color: rgb(206, 206, 206);
  transition: 0.3s;
}
.edit_img {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  font-size: 19px;
}
.edit_img:hover {
  background-color: rgb(206, 206, 206);
  transition: 0.3s;
}
.delete_img {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  font-size: 19px;
  color: rgb(217, 3, 3);
}
.delete_img:hover {
  background-color: rgb(206, 206, 206);
  transition: 0.3s;
}
.photo {
  font-size: 28px;
}

.selection_menu {
  display: flex;
  gap: 20px;

  justify-content: space-between;
}

/* burası*/
.task_name {
  width: 50%;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
}
.name_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 20px;
}
.assignee_title {
  margin-bottom: 10px;
}
.assignee_select_box {
  width: 80%;
}
.reporter_title {
  margin-bottom: 10px;
}
.task_button_container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.save_task_button {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: white;

  text-align: center;
  padding: 7px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.save_task_button:hover {
  background-color: #0070e6;
}

.tree {
  margin-bottom: 15px;
}
.task_created {
  margin-bottom: 5px;
  color: #707070;
}
.task_updated {
  color: #707070;
}

/* Date Picker Container */

/* Date Picker */
.date_picker {
  width: 100%;
  padding: 9px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.date_picker:focus {
  box-shadow: 0 0 2px 1px rgb(0, 89, 255);

  outline-width: 0px;
}

/* Adjust DatePicker styles for time select */
.react-datepicker-time__header {
  padding-bottom: 8px;
}

.react-datepicker-time__input-container {
  margin-right: 8px;
}

.react-datepicker__time-list {
  padding: 8px;
}

/* Adjust DatePicker styles for time intervals */
.react-datepicker__time-list-item {
  padding: 8px;
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
  }
}
.activity {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.edit_comment_area {
  width: 100%;
  padding: 2px 5px;
  border: 1px double rgb(145, 145, 145);
  border-radius: 4px;
  transition: 0.1s;
  resize: none;
}
.edit_comment_area:focus {
  box-shadow: 0 0 1px 1px #979595;
  transition: 0.1s;
  outline-width: 0px;
}
.save_cancel {
  display: flex;

  gap: 10px;
}
.save {
  padding: 5px 7px;
  border: none;
  background-color: #007bff;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.save:hover {
  background-color: #006ee3;
  transition: 0.3s;
}
.cancel {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  color: black;
}
.cancel:hover {
  color: rgb(103, 103, 103);
  transition: 0.3s;
}
