.project_member {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  margin-top: 10px;
}

.project_member_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: 1px solid gray;
}
.project_member_icon {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: cursive;
}
.member_icon {
  font-size: 22px;
}
.yetki_and_members {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin-top: 10px;
}
.add_members_container {
  display: flex;
  gap: 10px;
  width: 80%;
}
.add_members {
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.add_members_container button {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-family: cursive;
}
.add_members_container button:hover {
  background-color: #006cde;
  transition: 0.3s;
}

.table-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: scroll;
}
.table-container::-webkit-scrollbar {
  display: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #c6c6c6;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.yetki_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  padding: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.yetki_button:hover {
  background-color: #fdc7c7;
}
.delete_member {
  font-size: 22px;
  cursor: pointer;
  color: red;
}
.delete_member:hover {
  color: rgb(255, 111, 111);
  transition: 0.3s;
}
