.project_member_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7px;
  border-bottom: 1px solid gray;
}
.project_member_icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.member_icon {
  font-size: 22px;
}
.project_member {
  display: flex;
  flex-direction: column;

  padding-right: 10px;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.table-container {
  overflow-y: scroll;
}
.table-container::-webkit-scrollbar {
  display: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e4e4e4;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.yetki_button {
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.yetki_button:hover {
  background-color: #fdc7c7;
}
.delete_member {
  font-size: 22px;
  cursor: pointer;
  color: red;
}
.delete_member:hover {
  color: rgb(255, 111, 111);
  transition: 0.3s;
}
