.project_details_container {
  padding: 15px 15px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 5px 3px #e3e3e3;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
.project_details {
  display: flex;
  gap: 5px;
  border-left: 7px solid green;
  border-radius: 5px;
  padding-left: 5px;
  width: 54%;

  overflow-x: auto;
}
.project_details span {
  font-size: 32px;
  padding: 5px;
  font-weight: 700;
}
.edit_projectName {
  cursor: pointer;
}
.edit_projectName:hover {
  color: rgb(194, 184, 1);
}
.change_ProjectName {
  padding: 9px;
  width: 300px;
}

.project_lider {
  margin-top: 10px;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.manager_image_details {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 50%;
  object-fit: cover;
}
.down_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.project_member_stages {
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  width: 55%;
  height: 500px;
}

.change_ProjectName {
  width: 100%;
  padding: 5px;
  font-size: 32px;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.change_ProjectName:focus {
  outline: none;
  border-color: rgb(0, 128, 0);
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}
