.scrolling {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #454679;
  display: flex;
  width: 90%;
  height: 95%;
  padding: 10px 10px;
  gap: 10px;
}
.plus {
  font-size: 40px;
  cursor: pointer;
}

.cards {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
}
.cards::-webkit-scrollbar {
  height: 12px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 100%;
  scroll-snap-align: start;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #454679;
  background-color: #d6d6de;
}

.scrolling_vertically {
  width: 100%;
  border-top: 1px solid rgb(195, 153, 153);
  margin-top: 10px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 90%;
  padding: 5px 2px 2px 20px;
}

.scrolling_vertically::-webkit-scrollbar {
  height: 12px;
}

h4 {
  margin-right: 60%;
  width: 25%;
  justify-content: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #454679;
  cursor: pointer;
}
h4:hover {
  background-color: #b5b5bf;
  transition: 0.3s;
}

.tasks {
  height: 30%;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #454679;
  text-align: start;
  background-color: #d7d7de;
}
.tasks:hover {
  font-size: 20px;
  height: 31%;
  transition: 0.3s;
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }
  .card:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }
  .card:not(:last-child) {
    margin-right: 30px;
  }
}
@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }
  .card:not(:last-child) {
    margin-right: 40px;
  }
}
