.scrolling {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #454679;
  display: flex;
  width: 90%;
  height: 95%;
  padding: 10px 10px;
  gap: 10px;
}
.plus {
  font-size: 40px;
  cursor: pointer;
}

.cards {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
}
.cards::-webkit-scrollbar {
  height: 12px;
}

.card {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 100%;
  scroll-snap-align: start;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #454679;
  background-color: white;
}

.card_header {
  margin: 6px 20px 0px 20px;
}
.header_name {
  font-weight: 700;
  color: black;
}
.new {
  position: absolute;
  width: 17%;
  right: 7%;
  top: 1.5%;
  height: 7%;
  border: 1px solid rgb(155, 153, 150);
  box-shadow: 1px 1px 5px rgb(155, 153, 150);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}
.new:hover {
  background-color: rgb(232, 232, 232);
  transition: 0.3s;
}

.scrolling_vertically {
  width: 100%;
  border-top: 1px solid rgb(155, 153, 150);
  margin-top: 10px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 90%;
  padding: 5px 2px 2px 20px;
}

.scrolling_vertically::-webkit-scrollbar {
  height: 12px;
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }
  .card:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 40px);
  }
  .card:not(:last-child) {
    margin-right: 30px;
  }
}
@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }
  .card:not(:last-child) {
    margin-right: 40px;
  }
}
