.password_page {
  background-color: wheat;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #454679;
  padding: 50px;
  padding-top: 25px;
  border-radius: 20px;
  width: 35%;
}

.title-field {
  color: white;
  text-align: center;
  font-size: 30px;
  padding-bottom: 35px;
}

.paragraf-field {
  margin-bottom: 25px;
  color: white;
  text-overflow: ellipsis;
  text-wrap: wrap;
  text-decoration: double;
}

.email-field {
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.email-field-value {
  width: 100%;
  padding: 10px 0;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  border: 1px solid #f3f8ff;
  border-radius: 10px;
  outline: none;
  padding-left: 0.75rem;
  background-color: transparent;
  color: white;
  margin: 0px;
}

.email-field input:focus {
  border-color: #f6ba6f;
}

.email-field input:focus + label,
.email-field input:valid + label {
  position: relative;
  top: -5.25em;
  left: 0.5em;
  color: #f6ba6f;
  font-size: 1.1rem;
}

.email-field input:valid + label {
  color: #f3f8ff;
}

.email-field label {
  color: whitesmoke;
  position: relative;
  top: -2em;
  left: 1em;
  font-size: 1.5rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}

.continue-buttton-field-value {
  display: block;
  padding: 10px 20px;
  font-size: 11px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  /* Button background color */
  color: #fff;
  /* Button text color */
  border-radius: 5px;
  border: 2px solid #007bff;
  /* Button border color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.continue-buttton-field-value:hover {
  background-color: #0056b3;
  /* Button background color on hover */
  color: #fff;
  /* Button text color on hover */
  transform: scale(0.99);
}
