.sidebar.open {
  width: 16%;
}
.sidebar {
  padding: 10px;
  width: 4%;
  height: 630px;
  background-color: white;
  transition: width 0.3s ease;
  border-right: 1px solid rgb(155, 153, 150);
}
.side_header {
  display: flex;
}
.sidebar.open .header {
  display: contents;
  transition: 0.3s;
}
.header {
  display: none;
  transition: 0.3s;
}

.sidebar_icon {
  padding-left: 7px;
  padding-top: 5px;
  margin-left: 5px;
  border-radius: 20px;
  cursor: pointer;
  width: 30px;
  height: 27px;
  background-color: #d7d7de;
  box-shadow: 1px 1px 5px #454679;
}

.sidebar.open .sidebar_icon {
  transition: 0.3s;
  display: flex;
  box-shadow: 1px 1px 5px #454679;
}

.sidebar_icon:hover {
  background-color: rgb(155, 153, 150);
  transition: 0.3s;
}

.sidebar_menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 420px;
}
.react_img {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.sidebar_column {
  display: flex;
  align-items: center;
  width: 96%;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;

  transition: 0.3s;
}
.sidebar.open .sidebar_column {
  height: 40px;
}
.sidebar_column:hover {
  background-color: rgb(243, 243, 243);
  transition: 0.3s;
  width: 100%;
}
.sidebar.open .side {
  display: flex;
  margin-left: 10px;
  transition: 0.3s;
}
.side {
  transition: 0.3s;
  transition: 0.7s;
  display: none;
}

.hr2 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid rgb(243, 243, 243);
}
