* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: #cccccc;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh; /*vh stands for viewport height */
}
form {
  background: gray;
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: #454679;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}

form h1 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: white;
}
form .input-box {
  position: relative;
}
form .input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
form .input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
form .input-box input:focus + label,
form .input-box input:valid + label {
  transform: translateY(-18px);
  color: white;
  font-size: 1.1rem;
}
.btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background-color: #54b28d;
  box-shadow: 0px 12px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-3px);
}
.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
a {
  color: rgb(209, 124, 124);
}
