.wraper {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: block;
}
.container1 {
  margin-bottom: 15px;
  height: 9em;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
.stage {
  display: flex;
  padding: 20px 30px;
}
.filter_bar {
  display: flex;
  padding-left: 20%;
  gap: 50px;
}
.search_bar {
  width: 500px;
  padding: 6px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(194, 154, 154);
  border-radius: 4px;
}
.filter_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 17px;
  width: 12%;
  border-radius: 7px;
  border: 1px solid #8e6d6d;
  cursor: pointer;
}

.filter_button:hover {
  background-color: #a1aebc;
  transition: 0.3s;
}

/*---------------------------------------------------*/

.container2 {
  height: 29.34em;
  display: flex;
  align-items: center;
  justify-content: center;
}
