.task {
  position: relative;
  border: 1px solid rgb(155, 153, 150);
  padding: 10px;
  height: 30%;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(155, 153, 150);
  text-align: start;
  background-color: white;
}
.task:hover {
  background-color: rgb(243, 243, 243);
  transition: 0.3s;
}
.tag {
  position: absolute;
  width: 25%;
  right: 4%;
  top: 75%;
  border: 1px solid rgb(155, 153, 150);
  box-shadow: 1px 1px 5px rgb(155, 153, 150);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.tag:hover {
  background-color: rgb(190, 185, 240);
  transition: 0.3s;
}

.save-button {
  position: absolute;
  color: #04aa6d;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(155, 153, 150);
  height: 2rem;
  width: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #04aa6d;
  top: -8%;
  right: -1%;
}

.save-button:hover {
  color: white;
  background-color: #04aa6d;
}

.task-input {
  border: none;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  resize: none;
  outline: none;
  cursor: text;
  padding-left: 0.5rem;
}
.task-readOnly-input {
  border: none;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  resize: none;
  outline: none;
  cursor: default;
  overflow: visible;
}
.task_link_decoration {
  text-decoration: none;
}

.name-field {
  font-size: 1.5rem;
  height: 2rem;
}

h1.name-field {
  color: #04aa6d;
}
.description-field.task-readOnly-input {
  color: #1d1d1d;
}

.description-field {
  height: 4.8rem;
}

.input-container {
  position: relative;
}

.task-input-label {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;

  font-size: 1.25rem;
  cursor: text;
}

.task-input:valid + .task-input-label,
.task-input:focus + .task-input-label {
  display: none;
}

.description-field::-webkit-scrollbar {
  width: 0.25rem;
}

.description-field::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.description-field::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.error {
  color: red;
}
