.dropdown_notification {
  top: 40px;
  right: 75px;
  position: absolute;
  box-shadow: 1px 1px 5px #444579;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  color: black;
  height: 55%;
  z-index: 3;
  width: 20%;
}

.header_notification {
  border-bottom: 1px solid rgb(167, 167, 167);
  display: flex;
  cursor: pointer;
}
.message_wraper {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.message_wraper::-webkit-scrollbar {
  display: none;
}
.notification {
  text-align: center;
  padding: 10px;
  width: 50%;
  border-right: 1px solid rgb(205, 204, 204);
}

.posta {
  text-align: center;
  padding: 10px;
  width: 50%;
}

.notification_container {
  display: flex;
  align-items: start;
  gap: 7px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
}
.notification_container:hover {
  display: flex;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  transition: 0.3s;
}

.email_container {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 7px;
  border-bottom: 1px solid rgb(205, 204, 204);
  padding: 10px 20px;
}
.email_container:hover {
  display: flex;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  transition: 0.3s;
}
.notification_image {
  width: 11%;
  border-radius: 50%;
  box-shadow: 0px 1px 5px #cfcfcf;
}
.notification_message {
  display: flex;
}

.email_img {
  padding: 6px;
  font-size: 37px;
}

.notification_desc {
  color: rgb(87, 87, 87);
}

.posta_desc {
  color: rgb(87, 87, 87);
}
.active2 {
  background-color: #007bff; /* Set your desired active background color */
  color: white; /* Set your desired active text color */
}
.active2:hover {
  background-color: #0070e6;
  transition: 0.2s;
}
