* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  display: none;
  justify-content: center;
  align-items: center;
  left: 570px;
  min-height: 92vh; /*vh stands for viewport height */
  transform: scale(1);
  transition: all 1s;
}

.visible {
  display: flex;
  position: absolute;
}
.Sign-In-Form {
  background: gray;
  position: relative;
  width: 400px;
  background: #454679;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.Sign-In-Form-Content {
  padding: 40px 40px 40px;
}

.Sign-In-Form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.form-header {
  display: flex;
  align-items: end;
  justify-content: end;
  align-content: flex-end;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

.Sign-In-Form h1 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: white;
}
.Sign-In-Form .input-box {
  position: relative;
  margin-bottom: 2.5rem;
}
.Sign-In-Form .input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border: 1px solid #f3f8ff;
  border-radius: 10px;
  padding-left: 0.75rem;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.Sign-In-Form .input-box label {
  position: absolute;
  top: 0.5em;
  left: 1em;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.Sign-In-Form .input-box input:focus + label,
.Sign-In-Form .input-box input:valid + label {
  transform: translateY(-18px);
  top: -0.5em;
  color: #f6ba6f;
  font-size: 1rem;
}
.Sign-In-Form .input-box input:focus {
  border-color: #f6ba6f;
}
.Sign-In-Form .input-box input:valid + label {
  color: #f3f8ff;
}

.login_button {
  display: block;
  padding: 10px 20px;
  font-size: 11px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border-radius: 5px;
  border: 2px solid #007bff; /* Button border color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login_button:hover {
  background-color: #0056b3; /* Button background color on hover */
  color: #fff; /* Button text color on hover */
  transform: scale(0.99);
}
.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.forgot_password {
  color: rgb(209, 124, 124);
}

.close {
  right: 100px;
  top: 0;
  color: #f3f8ff;
  font-size: 3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.Sign-In-Form .input-box input.not-found-error {
  border-color: #e67e22;
}

.not-found-error {
  padding-left: 1rem;
  font-size: 1.3rem;
  color: #e67e22;
}
