* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  /* background-color: rgb(241, 240, 240); */
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
