* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  /*background-image: url(photo2.jpg);*/
  background-color: #cccccc;
}
li {
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
}
li > a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}
li > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}
li > a:hover::after,
li > a.nav_brand::after {
  width: 100%;
  background: red;
}
.login_navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: #454679;
  box-shadow: 0.1px 2px 2px 1px #888888;
}
.nav_brand {
  text-decoration: none;
  letter-spacing: 0.15em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.nav_brand:hover {
  transform: scale(1.08);
  transition: 0.1s;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 8rem;
}
.nav_button {
  display: block;
  padding: 10px 20px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border-radius: 5px;
  border: 2px solid #007bff; /* Button border color */
  cursor: pointer;
  transition: transform 0.3s ease;
}
.nav_button:hover {
  background-color: #0056b3; /* Button background color on hover */
  color: #fff; /* Button text color on hover */
  transform: scale(0.99);
}
.nav_button.clicked {
  transform: scale(0.7); /* You can adjust the scale factor as needed */
}
.navigation-bar-buttons{
  display: flex;
  width: 25rem;
  justify-content: space-around;
}